{% extends "base_generic.html" %}

{% block title %}Category | {{ category }}{% endblock %}

{% block content %}

    
    
 <head>
<link href="defaultceleb.css" rel="stylesheet" type="text/css" media="screen" />
</head>
	<div id="header-bar">
    <div id="header-bar-container"><h2>"{{ category }}"</h2></div>

		</div>	
<div class="celebrity-list-content">
<div class="celebrity-list-left">
<div id="celebrity-list-top">
<div id="search-right"> <div id="searchBar">
                        <form method="post" action="{% url 'search' %}" style="position:relative;">
                       <!--  {% csrf_token %}-->
                            <fieldset>
                                <div class="searchBox">
                                    <input sub="input" name="keyword" type="text" placeholder="Search Celebrity">
                                    <button sub="submitbutton" type="submit">
                                        <span class="icon magnify"> </span>
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div></div>
    
</div>
<div class="celebrity-list-box">
<h1>"{{ category }}"</h1>
{% for celebrity in celebrity_list %}
    <h3><a href="{% url 'celebrity_detail' slug=celebrity.slug %}">{{ celebrity.name }}</a><h3>
</div>

<div class="clear"></div>
</div>
<div class="advertising-right"><img src="file:///C|/Users/David/Desktop/celebrity-master/static/images/CaptureGIF.GIF" /></div>
</div>
{% endblock %}
{% endfor %}
{% endblock %}

