<head>
<link href="defaultceleb.css" rel="stylesheet" type="text/css" media="screen" />
</head>

{% extends "base_generic.html" %}
{% load static from staticfiles %}
{% load range_tag %}

{% block title %}Celebrity{% endblock %}

{% block content %}
<div class="celebrity-content">
<div class="celebrity-content-top">
    <div class="celebrity-image celebrity-area">
        <img src={{celebrity.image1.url}}""
            width="214px"
            height="317px"
            alt="{{celebrity.name}}"
            itemprop="image"
            class="pinterestImage">
    </div>
    <div class="celebrity-block-right celebrity-block-border">
        <h1 class="celebrity-name"><span itemprop="name">{{celebrity.name}}</span></h1>
        <div class="celebrity-box" >
            <div class="celebrity-inside-box rating-side">
                <p class="rating-result-words" sub="hover"><span>{%if rating_avg >= 4.5%}This celebrity is a douche bag</span><span>{% if rating_avg < 4.5%}}This celebrity is a nice person</span>{% if rating_avg =0.0%}<span>This celebrity has not yet benn rated. </span></p>
                <div id="rating-numbers" class="rating-container" >{%if rating_avg >= 4.5%}<img src="file:///C|/Users/David/Desktop/celebrity-master/static/images/celebritybad.png" />{% if rating_avg < 4.5%}<img src="file:///C|/Users/David/Desktop/celebrity-master/static/images/celebritygood.png" />{% else%}{%endif%}
                    <a class="rating-box" style="display:block;" href="#contentReviews"><span class="rate number">{% if rating_avg %}{{ rating_avg }}{% else %}0.0{% endif %}</span></a>
                    <div class="dbags-rating">
                        <div class="dbags-align">
                            <span style="width:100%;">
                                <div class="rating">
                                    <span class="rater-starsOff" style="width: 220px; cursor: pointer;">
                                        <span class="rater-starsOn" style="width: 63px; cursor: pointer;"></span>
                                    </span>
                                </div>
                            </span>
                        </div>
                        <p class="rating-stats">Ratings Counted: <span>{{ rating_count }}</span><br></p>
                    </div>
                    <p class="celebrity-known-for">{{celebrity.get_specificity_display}} | {{celebrity.description}}</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div>
            <h4 class="header-message"><span class="fl">Rate if this celebrity is a dbag</span></h4>
        </div>
        <div class="rating-widget large-rating-widget media_block">
            <a href="" class="celebrity-image">
                <img src="static/images//user_default_image.jpg" width="50" sub="img" class="fl" alt="">
            </a>
            <form action="." method="post" id="form-celebrity-vote">
            {% csrf_token %}
                <input type="hidden" name="user" value="{{ user.pk }}" />
                <input type="hidden" name="celebrity" value="{{ celebrity.pk }}" />
                <input type="hidden" name="rate" id="celebrity_rating" {% ifnotequal form.rate.value 0 %}value="{{ form.rate.value }}"{% endifnotequal %}/>
	            <div class="celebrity-block-right">
	                <div class="rating_buttons">
	                    {% comment %}
	                    <input type="button" value="+" class="wts clear" style="position:relative; bottom:7px;">
	                    <input type="button" value="-" class="ni clear" style="position:relative; bottom:7px;">
	                    <input type="button" class="stars clear down7">
	                    {% endcomment %}
	                    <div style="width: 220px; cursor: pointer;">
		                    <div class="item-rate">
		                      <ul>
		                          {% with rate=form.rate.value|get_range %}
		                          {% for i in 10|get_range %}
		                          <li><a href="#" class="rates rate{{ i|add:"1" }}{% if i in rate %} active{% endif %}" data-rate="{{ i|add:"1" }}">&nbsp;</a></li>
		                          {% endfor %}
		                          {% endwith %}
		                      </ul>
		                    </div>
	                    </div>
	                </div>
	                {% if form.rate.errors %}
	                <p>Please mark your rating here</p>
	                {% endif %}
	                <br/>
	                <textarea id="review_text" class="review clearfix" placeholder="Add a Review" style="height: 38px;" name="review"></textarea>
	                {% if form.review.errors %}
	                <p>You need to input review here</p>
	                {% endif %}
	                <br/>
	                {% if rate_exist %}
	                <p><b>You already rated this celebrity</b></p>
	                {% else %}
	                <div class="clearfix" style="height:24px;">
	                    <input class="button-short"type="submit" value="Rate" />
	                </div>
	                {% endif %}
	                <br/>
	            </div>
	        </form>
        </div>
        
    </div>
    <div class="quote_bubble top_critic fl cl"><span class="f1"> Comments</span>


<div class="review_quote_top"></div>
<div class="review_quote">
<div class="review_source media_block">
<img class="critic_thumb media_block_image" src="{user.thumbnail}">
<div class="media_block_content">
<div class="bold">
<p>user.name</p>
</div>
</div>
</div>
<div class="quote_contents media_block">
<div sub="hover" tip="Original Score: 2/4" class="media_block_image icon small rotten"></div>
<div class="media_block_content">
<p>
{Rating.review}
</p>
<div class="small">
<span class="fr subtle">February 14, 2014</span>
</div>
</div>
</div>
</div>

</div>
</div>


<div class="advertising-right"><img src="file:///C|/Users/David/Desktop/celebrity-master/static/images/CaptureGIF.GIF" /></div>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}

