<head>
<link href="defaultceleb.css" rel="stylesheet" type="text/css" media="screen" />
</head>
{% extends "base_generic.html" %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
{% load i18n %}

	<div id="header-bar">
    <div id="header-bar-container"><h2>Forgot Password</h2></div>

		</div>
<div class="forgot-content">
<div class="forgot-form">
<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<fieldset>
<table>
<tbody>
<tr>
<th>
<label class="username">
Email:</label></th><td>
<label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" />>
</td>
</tbody>
</table>
<p>Enter your email address to reset your password.</p>
<button class="button-short" tabindex="3" type="submit">Reset your password</button>

</fieldset>
</form>

</div><!--end forgot-form-->

</div><!-- End Content -->



