<head>
<link href="defaultceleb.css" rel="stylesheet" type="text/css" media="screen" />
</head>
{% extends "base_generic.html" %}
{% block title %}Password Changed{% endblock %}
{% load i18n %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}{% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
	<div id="header-bar">
    <div id="header-bar-container"><h2>{% trans "Your password has been set.  You may go ahead and log in now." %}</h2></div>
 		</div>
           <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>
           {% endblock %}

