<head>
<link href="defaultceleb.css" rel="stylesheet" type="text/css" media="screen" />
</head>
{% extends "base_generic.html" %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
{% load i18n %}

	<div id="header-bar">
    <div id="header-bar-container"><h2>Please enter your new password</h2></div>

		</div>
<div class="forgot-content">
<div class="forgot-form">
<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="{% trans 'Change my password' %}" /></p>
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
</div><!--end forgot-form-->

</div><!-- End Content -->
{% endblock %}



